@model HospitalProjectMackenzie.Models.ViewModels.DetailsDoctor
@{
    ViewBag.Title = "View";
}

<div>
    <a href="/Doctor/List">Go back to list</a>
    |
    <a href="/Doctor/Edit/@Model.SelectedDoctor.DoctorID">Update</a>
    |
    <a style="color:#ab2020;" href="/Doctor/DeleteConfirm/@Model.SelectedDoctor.DoctorID">Delete</a>
</div>

<h2>@Model.SelectedDoctor.DoctorFirstName @Model.SelectedDoctor.DoctorLastName</h2>
<div>Employee Number: @Model.SelectedDoctor.DoctorEmployeeNumber</div>
<div>Department: <a href="/Department/Details/@Model.SelectedDoctor.DepartmentID">@Model.SelectedDoctor.DepartmentName</a></div>

<div>
    <h3>Appointments Associated for @Model.SelectedDoctor.DoctorFirstName @Model.SelectedDoctor.DoctorLastName:</h3>
    @foreach (var appointment in Model.AssociatedAppointments)
    {
        <a href="/Appointment/Details/@appointment.AppointmentID">@appointment.AppointmentName</a><br />
    }
</div>