@model IEnumerable<HospitalProjectMackenzie.Models.PatientDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Appointment/Create" method="POST">
    <div>
        <label>Appointment Name:</label> <input type="text" name="AppointmentName" />
    </div>

    <div>
        <label for="DoctorID">Doctor:</label>
        <select name="DoctorID">
            @foreach (var doctor in Model)
            {
                <option value="@doctor.DoctorID">@doctor.DoctorFirstName @doctor.DoctorLastName</option>

            }
        </select>
    </div>

    <div>
        <label for="PatientID">Patient:</label>
        <select name="PatientID">
            @foreach (var patient in Model)
            {
                <option value="@patient.PatientID">@patient.PatientFirstName @patient.PatientLastName</option>

            }
        </select>
    </div>
    <div>
        <label for="RoomID">Room:</label>
        <select name="RoomID">
            @foreach (var room in Model)
            {
                <option value="@room.RoomID">@room.RoomName</option>

            }
        </select>
    </div>



    <div>
        <input type="submit" value="Add Appointment" />

    </div>
</form>