@model HospitalProjectMackenzie.Models.ViewModels.DetailsPatient
@{
    ViewBag.Title = "Details";
}


<br />

<ul>
    <li><a href="/Patient/List">Go back to list</a></li>
    <li><a href="/Patient/Edit/@Model.SelectedPatient.PatientID">Edit</a></li>
    <li><a href="/Patient/DeleteConfirm/@Model.SelectedPatient.PatientID">Delete</a></li>
</ul>

<h2>Details</h2>
<a href="/Patient/List">Go back to list</a>
<div>First Name: @Model.SelectedPatient.PatientFirstName</div>
<div>Last Name: @Model.SelectedPatient.PatientLastName</div>
<div>Address: @Model.SelectedPatient.PatientAddress</div>
<div>DOB: @Model.SelectedPatient.PatientDateOfBirth</div>
<div>Cell Phone: @Model.SelectedPatient.PatientCellPhone</div>
<div>
    <h3>Appointments for @Model.SelectedPatient.PatientFirstName @Model.SelectedPatient.PatientLastName</h3>
    @foreach (var appointment in Model.AppointmentsForPatient)
    {
        <a href="/Appointment/Details/@appointment.AppointmentID">@appointment.AppointmentName</a><br />
    }
</div>