@model HospitalProjectMackenzie.Models.AmenityDto

@{
    ViewBag.Title = "Details";
}

<br />

<ul>
    <li><a href="/Amenity/List">Go back to list</a></li>
    <li><a href="/Amenity/Edit/@Model.AmenityID">Edit</a></li>
    <li><a href="/Amenity/DeleteConfirm/@Model.AmenityID">Delete</a></li>
</ul>

<h2> @Model.AmenityName </h2>
<div>Description: @Model.AmenityDescription</div>
<div>Type: @Model.AmenityType</div>
<div>Location: @Model.AmenityLocation</div>
<div>Site: <a href="/Site/Details/@Model.SiteDto.SiteID">@Model.SiteDto.SiteName</a></div>