@model HospitalProjectMackenzie.Models.ViewModels.UpdateAmenity

@{
    ViewBag.Title = "Edit";
}

<br/>

<ul>
    <li><a href="/Amenity/Details/@Model.SelectedAmenity.AmenityID">Go back to @Model.SelectedAmenity.AmenityName</a></li>
</ul>

<h2>Update Site</h2>

<form action="/Amenity/Update/@Model.SelectedAmenity.AmenityID" method="POST">
    <div style="display:none;">
        <input type="text" name="AmenityID" value="@Model.SelectedAmenity.AmenityID" />
    </div>
    <div>
        <label>Amenity Name:</label> <input type="text" name="AmenityName" value="@Model.SelectedAmenity.AmenityName" />
    </div>
    <div>
        <label>Description:</label> <textarea name="AmenityDescription">@Model.SelectedAmenity.AmenityDescription</textarea>
    </div>
    <div>
        <label>AmenityType:</label> <input type="text" name="AmenityType" value="@Model.SelectedAmenity.AmenityType" />
    </div>
    <div>
        <label>AmenityLocation:</label> <input type="text" name="AmenityLocation" value="@Model.SelectedAmenity.AmenityLocation" />
    </div>
    <div>
        <label for="SiteID">Site:</label>
        <select name="SiteID">
            @foreach (var site in Model.SiteOptions)
            {
                string selected = "";
                if (site.SiteID == Model.SelectedAmenity.SiteID)
                {
                    selected = "selected";
                }
                <option value="@site.SiteID" @selected>@site.SiteName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Site" />
    </div>
</form>