@model HospitalProjectMackenzie.Models.SiteDto

@{
    ViewBag.Title = "Details";
}

<br />

<ul>
    <li><a href="/Site/List">Go back to list</a></li>
    <li><a href="/Site/Edit/@Model.SiteID">Edit</a></li>
    <li><a href="/Site/DeleteConfirm/@Model.SiteID">Delete</a></li>
</ul>

<h1> @Model.SiteName </h1>

@{
    string pic = "/Content/Images/Site/default.jpg";
    string alt = "No Profile Picture Provided.";
    if (!String.IsNullOrEmpty(@Model.SiteImageUrl))
    {
        pic = "/Content/Images/Site/" + @Model.SiteImageUrl;
        alt = "picture of " + @Model.SiteName;
    }
}

<div class="imagecontainer">
    <img src="@pic" alt="@alt" />
</div>

<div>Description: @Model.SiteDescription</div>
<div>Address: @Model.SiteAddress</div>
<div>Phone Nuumber: @Model.SiteNumber</div>

<h2>Department List</h2>
@foreach (var department in Model.departments)
{
    <a href="/Department/Details/@department.DepartmentID">@department.DepartmentName</a>
    <br />
}

<h2>Amenity List</h2>
@foreach (var amenity in Model.amenities)
{
    <a href="/Amenity/Details/@amenity.AmenityID">@amenity.AmenityName</a>
    <br />
}

