@model HospitalProjectMackenzie.Models.SiteDto

@{
    ViewBag.Title = "Edit";
}

<br />

<ul>
    <li><a href="/Site/Details/@Model.SiteID">Go back to @Model.SiteName</a></li>
</ul>

<h2>Update Site</h2>


<form action="/Site/Update/@Model.SiteID" method="POST">
    <div style="display:none;">
        <input type="text" name="SiteID" value="@Model.SiteID" />
    </div>
    <div>
        <label>Site Name:</label> <input type="text" name="SiteName" value="@Model.SiteName" />
    </div>
    <div>
        <label>Description:</label> <textarea name="SiteDescription">@Model.SiteDescription </textarea>
    </div>
    <div>
        <label>Address:</label> <input type="text" name="SiteAddress" value="@Model.SiteAddress"/>
    </div>
    <div>
        <label>Phone Number:</label> <input type="text" name="SiteNumber" value="@Model.SiteNumber"/>
    </div>
    <div>
        <label>img:</label> <input type="text" name="SiteImageUrl" value="@Model.SiteImageUrl"/>
    </div>
    <div>
        <input type="submit" value="Update Site" />
    </div>
</form>